{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuickDash - Raspberry Pi</title>
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">

    <link rel="stylesheet" href="/css/fontawesome.min.css" crossorigin="anonymous">
    <script src="/js/tailwindcss-3.4.17.min.js"></script>
    <script src="/js/chartjs-4.5.0.min.js"></script>

    <style>
        .bg-black-alt {
            background: #191919;
        }

        .text-black-alt {
            color: #191919;
        }

        .border-black-alt {
            border-color: #191919;
        }
    </style>
</head>

<body class="bg-black-alt font-sans leading-normal tracking-normal">
    <!--Container-->
    <div class="container w-full mx-auto pt-10">
        <div class="bg-gray-900 border border-gray-800 rounded shadow p-4">
            <!--Top-->
            <div class="p-4 flex flex-wrap items-center">
                <div>
                    <img src="/pi-logo.svg" width="60" height="60" alt="RPi Logo">
                </div>
                <div class="items-center pl-4">
                    <h1 class="font-bold text-gray-100 text-4xl">Raspberry Pi Stats</h1>
                </div>
            </div>
        </div>

        <div class="pt-4 pb-3 border-b">
            <div class="grid grid-flow-col grid-rows-4 grid-cols-4 gap-2">

                <!--Table Card-->
                <div class="w-full row-span-2 col-span-2 bg-gray-900 border border-gray-800 rounded shadow">
                    <div class="border-b border-gray-800 p-3">
                        <h5 class="font-bold uppercase text-gray-600">Details</h5>
                    </div>
                    <div class="p-5">
                        <table class="w-full p-5 text-gray-700">
                            <thead>
                                <tr>
                                    <th class="text-left text-gray-600">Uptime</th>
                                    <th class="text-left text-gray-600">Architecture</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>12h</td>
                                    <td>amd64</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--Table Card-->
                <div class="w-full row-span-2 col-span-2 bg-gray-900 border border-gray-800 rounded shadow">
                    <div class="border-b border-gray-800 p-3">
                        <h5 class="font-bold uppercase text-gray-600">Networking</h5>
                    </div>
                    <div class="p-5">
                        <table class="w-full p-5 text-gray-700">
                            <thead>
                                <tr>
                                    <th class="text-left text-gray-600">IP</th>
                                    <th class="text-left text-gray-600">Hostname</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>127.0.0.1</td>
                                    <td>Raspberry</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--Graph Card-->
                <div class="w-full row-span-4 col-span-2 bg-gray-900 border border-gray-800 rounded shadow">
                    <div class="border-b border-gray-800 p-3">
                        <h5 class="font-bold uppercase text-gray-600">Graph</h5>
                    </div>
                    <div class="p-5">
                        <canvas id="chartjs-1" class="chartjs" width="undefined" height="undefined"></canvas>
                        <script>
                            new Chart(document.getElementById("chartjs-1"), {
                                "type": "bar",
                                "data": {
                                    "labels": ["20m", "18m", "16m", "14m", "12m", "10m", "8m", "6m", "4m", "2m", "now"],
                                    "datasets": [{
                                        "label": "CPU Usage",
                                        "data": [65, 59, 80, 81, 56, 55, 40, 22, 50, 22, 55],
                                        "fill": false,
                                        "backgroundColor": "rgba(255, 99, 132, 0.2)",
                                        "borderColor": "rgb(255, 99, 132)",
                                        "borderWidth": 1
                                    }]
                                },
                                "options": {
                                    "scales": {
                                        "yAxes": [{
                                            "ticks": {
                                                "beginAtZero": true
                                            }
                                        }]
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-4 pb-3 border-b">
            <div>
                <h1 class="text-gray-100 text-base xl:text-xl no-underline hover:no-underline font-bold">CPU Stats</h1>
            </div>
            <div class="grid grid-flow-col grid-cols-4 gap-2">
                <!--Metric Card-->
                <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-green-600"><i
                                    class="fa fa-microchip fa-2x fa-fw fa-inverse"></i>
                            </div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold text-gray-400">Utilization</h5>
                            <h3 class="font-bold text-3xl text-gray-600">
                                {{ .cpu_percent }}
                                <span class="text-green-500">%</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <!--Metric Card-->
                <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-green-600"><i
                                    class="fa fa-chart-line fa-2x fa-fw fa-inverse"></i></div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold text-gray-400">Frequency</h5>
                            <h3 class="font-bold text-3xl text-gray-600">
                                {{ .cpu_freq }}
                                <span class="text-green-500">Hz</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <!--Metric Card-->
                <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-green-600"><i class="fa-brands fa-codepen fa-2x fa-fw fa-inverse"></i>
                            </div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold text-gray-400">Cores</h5>
                            <h3 class="font-bold text-3xl text-gray-600">
                                {{ .cpu_count }}
                                <span class="text-green-500"></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <!--Metric Card-->
                <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-green-600"><i class="fa fa-star-of-life fa-2x fa-fw fa-inverse"></i>
                            </div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold text-gray-400">Temperature</h5>
                            <h3 class="font-bold text-3xl text-gray-600">
                                {{ .sensor_temperatures }}
                                <span class="text-green-500">C</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-4 pb-3 border-b">
            <div>
                <h1 class="text-gray-100 text-base xl:text-xl no-underline hover:no-underline font-bold">Memory
                    Stats</h1>
            </div>
            <div class="grid grid-flow-col grid-cols-4 gap-2">
                <!--Metric Card-->
                <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-blue-600"><i
                                    class="fa fa-memory fa-2x fa-fw fa-inverse"></i></div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold text-gray-400">Available</h5>
                            <h3 class="font-bold text-3xl text-gray-600">
                                {{ .cpu_mem_avail }}
                                <span class="text-blue-500">%</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <!--Metric Card-->
                <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-blue-600"><i
                                    class="fa fa-chart-simple fa-2x fa-fw fa-inverse"></i></div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold text-gray-400">Used</h5>
                            <h3 class="font-bold text-3xl text-gray-600">
                                {{ .cpu_mem_used }}
                                <span class="text-blue-500">GB</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <!--Metric Card-->
                <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-blue-600"><i class="fa fa-flask fa-2x fa-fw fa-inverse"></i>
                            </div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold text-gray-400">Free</h5>
                            <h3 class="font-bold text-3xl text-gray-600">
                                {{ .cpu_mem_free }}
                                <span class="text-blue-500">GB</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <!--Metric Card-->
                <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-blue-600"><i
                                    class="fa fa-chart-column fa-2x fa-fw fa-inverse"></i></div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold text-gray-400">Total</h5>
                            <h3 class="font-bold text-3xl text-gray-600">
                                {{ .cpu_mem_total }}
                                <span class="text-blue-500">GB</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-4 pb-3 border-b">
            <div>
                <h1 class="text-gray-100 text-base xl:text-xl no-underline hover:no-underline font-bold">
                    Disk Stats</h1>
            </div>
            <div class="grid grid-flow-col grid-cols-4 gap-2">
                <!--Metric Card-->
                <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-yellow-600"><i
                                    class="fa fa-floppy-disk fa-2x fa-fw fa-inverse"></i></div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold text-gray-400">Utilisation</h5>
                            <h3 class="font-bold text-3xl text-gray-600">
                                {{ .disk_usage_percent }}
                                <span class="text-yellow-500">%</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <!--Metric Card-->
                <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-yellow-600"><i
                                    class="fa fa-bars-progress fa-2x fa-fw fa-inverse"></i></div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold text-gray-400">Used</h5>
                            <h3 class="font-bold text-3xl text-gray-600">
                                {{ .disk_usage_used }}
                                <span class="text-yellow-500">GB</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <!--Metric Card-->
                <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-yellow-600"><i
                                    class="fa fa-align-left fa-2x fa-fw fa-inverse"></i></div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold text-gray-400">Available</h5>
                            <h3 class="font-bold text-3xl text-gray-600">
                                {{ .disk_usage_free }}
                                <span class="text-yellow-500">GB</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <!--Metric Card-->
                <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-yellow-600"><i
                                    class="fa fa-maximize fa-2x fa-fw fa-inverse"></i></div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold text-gray-400">Total Disk Space</h5>
                            <h3 class="font-bold text-3xl text-gray-600">
                                {{ .disk_usage_total }}
                                <span class="text-yellow-500">GB</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{{ end }}